* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./images/box.webp");
  background-size: cover;
  box-sizing: border-box;
  background-position: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu {
  background: rgb(1, 9, 247);
  text-align: center;
}

.menu ul {
  display: flex;
  list-style: none;
  color: #ffffff;
}

.menu ul li {
  width: 120px;
  margin: 15px;
  padding: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu ul li:hover {
  background: #4e69f4;
  border-radius: 30px;
}

.s-menu {
  display: none;
}

.menu ul li:hover .s-menu {
  display: block;
  Position: absolute;
  background: rgb(1, 9, 247);
  margin-top: 10px;
  margin-left: -18px;
}

.menu ul li:hover .s-menu ul {
  display: block;
  margin: 10px;
}

.menu ul li:hover .s-menu ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 10;
  text-align: center;
}

.menu ul li:hover .s-menu ul li a:hover {
  color: #000000;
}
.s-in
{
  display: none;
}
.hex:hover .s-in
{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 120px;
  background: rgb(1, 9, 247);
}